body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

p {
    color: blueviolet;
    font-size: 26px;
}

.Header {
    padding-top: 10px;
    display: block;
    border: 5px inset black;
}

